<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% endif %}
    {% seo %}
  </head>
  <body>
    <!-- build: {{ site.github.build_revision | default: site.time }} -->
    <div class="site">
      {{ content }}
    </div>
  </body>
</html>
